* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Times New Roman', Times, serif;
}

.container {
	height: 100%;
	width: 100%;
	background-color: rgb(214, 220, 255);
	position: fixed;
}

html {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}

.optionBox {
	width: 100%;
	height: 80%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;

}

.optionBox>.option {
	margin-top: 5%;
	width: 50%;
	height: 20%;
	background-color: rgb(41, 49, 74);
	color: white;
}

.optionBox>.option div {
	float: left;
	height: 100%;
	width: 25%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	font-size: 30px;
	padding: 5px;
	font-weight: 700;
}

.optionBox>.option div>div {
	width: 100%;
	height: calc(100%/3);
	display: flex;
	justify-content: center;
	align-items: center;
}

.optionBox>.option div>div:first-child {
	color: red;
}

.optionBox>.option div>div:nth-child(2) {
	color: white;
}

.optionBox>.option div>div:last-child {
	color: blue;
}

.optionBox>.option p {
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	height: 100%;
	width: 75%;
}
.optionBox>.option p>a
{
	text-decoration: none;
	color: white;
}

/*Media query start*/

@media only screen and (max-width: 600px) {
	.optionBox>.option {
		width: 86%;
		height: 15%;
		margin-top: 15%;
	}

	.optionBox>.option p {
		font-size: 34px;
	}
	.optionBox>.option div
	{
		font-size: 20px;
	}
}

/*Phones and some tablets*/
@media only screen and (min-width: 600px) {
	.optionBox>.option {
		width: 70%;
		height: 17%;
		margin-top: 10%;
	}

	.optionBox>.option p {
		font-size: 37px;
	}
	.optionBox>.option div
	{
		font-size: 23px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.optionBox>.option {
		margin-top: 7%;
		width: 69%;
		height: 18%;
	}

	.optionBox>.option p {
		font-size: 45px;
	}
	.optionBox>.option div
	{
		font-size: 26px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.optionBox>.option {
		margin-top: 5%;
		width: 65%;
		height: 23%;
	}

	.optionBox>.option p {
		font-size: 55px;
	}
	.optionBox>.option div
	{
		font-size: 30px;
	}
}

/*Media query end*/