.heading {
	height: 10%;
	background-color: red;
	width: 100%;
	display: flex;
	color: white;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	background-color: rgb(33, 46, 80);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.heading {
		font-size: 20px;
		height: 6.6%;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.heading {
		font-size: 32px;
		height: 8.4%;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.heading {
		font-size: 40px;
		height: 10%;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.heading {
		font-size: 46px;
		height: 10%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.heading {
		font-size: 50px;
		height: 10%;
	}
}