* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Times New Roman', Times, serif;
}

:root {
	--link_color: aqua;
}

.container {
	height: 100%;
	width: 100%;
	background-color: rgb(214, 220, 255);
	position: fixed;
}

html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}

input::placeholder {
	color: black;
}

.sllbox {
	height: 80%;
	width: 100%;
	margin: 0;
}

.sllbox .inputBoxes {
	margin-top: -1.6px;
	display: flex;
	align-items: center;
	gap: 30px;
	justify-content: center;
	width: 100%;
	height: 13%;
	background-color: rgb(33, 46, 80);
}

.sllbox .inputBoxes>div {
	height: 70%;
	width: 18%;
	border: 1px solid black;
}

.sllbox .inputBoxes>div>input {
	height: 100%;
	width: 70%;
	float: left;
	outline: none;
	border: none;
	font-size: 20px;
	padding: 3px;
	text-indent: 5px;
}

.sllbox .inputBoxes>div>p {
	float: left;
	height: 100%;
	width: 30%;
	outline: none;
	background-color: maroon;
}

.sllbox .inputBoxes>div>p img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	mix-blend-mode: darken;
}

.sllbox .linked-list-container {
	width: 100%;
	height: 90%;
	background-color: white;
	padding: 30px 0px 10px 0px;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

.sllbox .linked-list-container .row {
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 10px;
	padding: 0px 10px;
}

.sllbox .linked-list-container .row:nth-child(even) {
	flex-direction: row-reverse;
	padding-right: 30px;
}

.sllbox .linked-list-container .row .item {
	height: 50px;
	width: calc(12.5% - 5px);
	float: left;
	margin-bottom: 40px;
	transition: 1s all ease;
}

.sllbox .linked-list-container .row .item .value {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	height: 100%;
	width: 40%;
	border: 1px;
	border-right: 1.5px;
	border-color: black;
	border-style: solid;
	float: left;
	background-color: var(--link_color);
}

.sllbox .linked-list-container .row .item .link-horizontal {
	position: relative;
	float: left;
	height: 100%;
	width: 60%;
	background-image: url(../../IMAGES/right_arrow.png);
	background-position: 20.5px center;
	background-repeat: no-repeat;
	background-size: 75% 100%;
}

.sllbox .linked-list-container .row .item .link-horizontal>div {
	float: left;
	height: 100%;
	width: 50%;
	position: relative;
	z-index: 9;
}

.sllbox .linked-list-container .row .item .link-horizontal>div:first-child {
	mix-blend-mode: darken;
	background-color: var(--link_color);
	border: 1px solid black;
}

.sllbox .linked-list-container .row .item .link-vertical {
	float: left;
	position: relative;
	width: 40%;
	height: 200%;
	background-image: url(../../IMAGES/down_arrow.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 80% 75%;
}
.sllbox .linked-list-container .row .item .null
{
	width: 40%;
	height: 100%;
	float: left;
	position: relative;
	background-image: url(../../IMAGES/null_link.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 165% 150%;
}
.sllbox .linked-list-container .row .item .null>div
{
	height: 100%;
	width: 100%;
	mix-blend-mode: darken;
	background-color: var(--link_color);
	border: 1px solid black;
}

.sllbox .linked-list-container .row .item .link-vertical>div {
	height: 50%;
	width: 100%;
	mix-blend-mode: darken;
}

.sllbox .linked-list-container .row .item .link-vertical>div:first-child {
	border: 1px solid black;
	background-color: var(--link_color);
}



@media only screen and (max-width: 600px) {
	.titleBar {
		height: 7.7%;
	}

	.titleBar img {
		width: 103px;
	}

	.titleBar nav {
		width: 65%;
	}

	.titleBar nav li {
		padding-right: 27px;
		font-size: 20px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
	.sllbox .inputBoxes>div {
		height: 36%;
		width: 22%;
	}
}

@media only screen and (min-width: 600px) {
	.sllbox .inputBoxes>div {
		height: 45%;
		width: 20%;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.sllbox .inputBoxes>div {
		height: 55%;
		width: 19%;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.sllbox .inputBoxes>div {
		height: 60%;
		width: 18%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.sllbox .inputBoxes>div {
		height: 70%;
		width: 18%;
	}
}