* {
	margin: 0;
	padding: 0;
	font-family: 'Times New Roman', Times, serif;
	box-sizing: border-box;
}

.container {
	width: 100%;
	height: 105vh;
	background-color: rgb(244, 254, 255);
	position: fixed;
}

.contentDiv {
	height: 79%;
	width: 100%;
	background-color: rgb(244, 254, 255);
	margin-top: 5px;
	border-top: 5px solid black;
}

.inputs {
	width: 100%;
	height: 10%;
	display: flex;
	flex-direction: row;
	border: 1px solid black;
}

.inputs>div {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: row;
	height: 100%;
	margin-left: 2px;
}

.inputs .order {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 50%;
	height: 80%;
	overflow: hidden;
}

.inputs .order span,
.inputs .order input {
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.inputs .order span {
	width: 23%;
	color: white;
	margin-right: 3px;
	background-color: rgb(147, 139, 162);
	overflow: hidden;
}

.inputs .order select {
	font-size: 20px;
	border: none;
	outline: none;
	background-color: rgb(147, 139, 162);
	color: white;
}

.inputs .order input::placeholder {
	color: white;
}

.inputs .order input {
	margin: 0;
	outline: none;
	border: none;
	width: 75%;
	padding: 2px;
	text-indent: 5px;
	background-color: rgb(20, 27, 53);
	color: white;
	overflow: scroll;
	height: 100%;
}

.inputs>div:nth-child(1) {
	width: 85%;
}

.inputs>div:nth-child(2) {
	width: 15%;
	height: 100%;
}

.right .toggle {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 48%;
	border-radius: 30px;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid rgb(147, 139, 162);
	font-size: 19px;
}

.right .toggle>div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	font-weight: 400;
	background-color: rgb(20, 27, 53);
	color: white;
}

.canvasDiv {
	width: 100%;
	height: 90%;
	border: 1px solid black;
	background-color: rgb(123, 154, 199);
	overflow: scroll;
}

/*MEDIA QUERY*/
@media only screen and (max-width: 600px) {
	.right .toggle {
		height: 30%;
		width: 70%;
	}

	.inputs .order span,
	.inputs .order input,
	.inputs .order select {
		font-size: 11px;
	}

	.inputs .order {
		height: 50%;
	}

	.btnbtn {
		font-size: 11px;
	}
}

@media only screen and (min-width: 600px) {
	.right .toggle {
		height: 36%;
		width: 56%;
	}

	.inputs .order span,
	.inputs .order input,
	.inputs .order select {
		font-size: 16px;
	}

	.inputs .order {
		height: 65%;
	}

	.btnbtn {
		font-size: 14px;
	}
}

@media only screen and (min-width: 768px) {

	.inputs .order span,
	.inputs .order input,
	.inputs .order select {
		font-size: 17px;
	}

	.inputs .order {
		height: 70%;
	}

	.right .toggle {
		height: 50%;
		width: 56%;
	}
}

@media only screen and (min-width: 992px) {

	.inputs .order span,
	.inputs .order input,
	.inputs .order select {
		font-size: 18px;
	}

	.btnbtn {
		font-size: 17px;
	}

	.right .toggle {
		height: 50%;
		width: 56%;
	}
}