* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Times New Roman', Times, serif;
}
::selection
{
	background-color: transparent;
	color: aqua;
}
.container {
	height: 105vh;
	width: 100%;
	background-color: rgb(244, 254, 255);
	position: fixed;
}

.contentBox {
	margin-top: 5px;
	border-top: 5px solid black;
	height: 80%;
	width: 100%;
}

.contentBox .inputs {
	display: flex;
	align-items: center;
	flex-direction: column;
	background: rgb(33, 49, 100);
	height: 100%;
	width: 20%;
	float: left;
	margin-top: 2px;
	margin: 0;
	padding: 2px;
}

.contentBox .inputs>div {
	margin-top: 15%;
	width: 80%;
	display: block;
	background-color: pink;
	height: 6.6%;
	background: rgb(33, 49, 100);
}

.contentBox .inputs>div>input {
	padding-left: 5px;
}

.contentBox .inputs>div>input,
.contentBox .inputs>div>button {
	font-size: 18px;
	border: none;
}

.contentBox .inputs>div>button {
	background-color: maroon;
	color: rgb(255, 255, 255);
}

.contentBox .inputs>div:nth-child(1)>input,
.contentBox .inputs>div:nth-child(2)>input,
.contentBox .inputs>div:nth-child(4)>input {
	width: 70%;
	height: 100%;
	outline: none;
}

.contentBox .inputs>div:nth-child(1)>button,
.contentBox .inputs>div:nth-child(2)>button,
.contentBox .inputs>div:nth-child(4)>button {
	width: 30%;
	height: 100%;

}

.contentBox .inputs>div:nth-child(3)>button {
	width: 100%;
	height: 100%;
}

.contentBox .inputs>div:nth-child(5)>input {
	width: 35%;
	height: 100%;
}

.contentBox .inputs>div:nth-child(5)>button {
	height: 100%;
	width: 30%;
}

.contentBox .inputs>div>button:hover {
	filter: brightness(1.1);
}

.contentBox .inputs>div>button:active {
	transform: translateY(2px);
}

.contentBox .stackBox {
	margin: 0;
	background-color: yellowgreen;
	height: 100%;
	width: 80%;
	float: left;
	display: flex;
	justify-content: center;
	padding-top: 10px;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-bottom: 70px;
	color: white;
}

.stackBox .outer {
	display: flex;
	align-items: end;
	width: 35%;
	height: 600px;
	padding: 3px;
}

.outer .inner {
	display: flex;
	flex-direction: column-reverse;
	/* margin: 2px;
	margin-top: 100px; */
	position: relative;
	width: 100%;
	/* height: 80%;
	border: 2px solid black;
	border-radius: 0px 0px 20px 20px;
	padding: 1px 2px 3px 2px; */
}

.item {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 40px;
	background-color: #0000ff;
}

.item:nth-child(1) {
	border-radius: 0px 0px 20px 20px;
}

input {
	outline: none;
}

input::placeholder {
	color: rgb(12, 9, 13);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

/*Media query start*/

@media only screen and (max-width: 600px) {
	.stackBox .outer {
		width: 46%;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.stackBox .outer {
		width: 42%;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.stackBox .outer {
		width: 42%;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.stackBox .outer {
		width: 45%;
	}
}

/*Media query end*/