* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Times New Roman', Times, serif;
}

:root {
	--link_color: aqua;
}

.container {
	height: 100%;
	width: 100%;
	background-color: rgb(214, 220, 255);
	position: fixed;
}

html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}

input::placeholder {
	color: black;
}

.sllbox {
	height: 80%;
	width: 100%;
	margin: 0;
}

.sllbox .inputBoxes {
	margin-top: -1.6px;
	display: flex;
	align-items: center;
	gap: 30px;
	justify-content: center;
	width: 100%;
	height: 13%;
	background-color: rgb(33, 46, 80);
}

.sllbox .inputBoxes>div {
	height: 70%;
	width: 18%;
	border: 1px solid black;
}

.sllbox .inputBoxes>div>input {
	height: 100%;
	width: 70%;
	float: left;
	outline: none;
	border: none;
	font-size: 20px;
	padding: 3px;
	text-indent: 5px;
}

.sllbox .inputBoxes>div>p {
	float: left;
	height: 100%;
	width: 30%;
	outline: none;
	background-color: maroon;
}

.sllbox .inputBoxes>div>p img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	mix-blend-mode: darken;
}

.sllbox .linked-list-container {
	width: 100%;
	height: 90%;
	background-color: white;
	padding: 5px 5px 5px 5px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.sllbox .linked-list-container>.row {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
	height: 14.3%;
}

.sllbox .linked-list-container>.row:nth-child(even) {
	flex-direction: row-reverse;
}

.sllbox .linked-list-container>.row>.item {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	height: 125%;
	width: 16.67%;
}

.sllbox .linked-list-container>.row>.item>div {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: skyblue;
	height: 80%;
	width: 33%;
	border-left: 0.1px;
	border-right: 0.1px;
	border-top: 0.1px;
	border-bottom: 0.1px;
	border-color: black;
	border-style: solid;
	mix-blend-mode: darken;
}

.left {
	background-image: url(../../IMAGES/ll_with_arrow.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 200% 100%;
	border-left: 0px;
	border-top: 0.3px;
	border-bottom: 0.3px;
	border-right: 0.3px;
}

.right {
	background-image: url(../../IMAGES/ll_with_arrow.png);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 200% 100%;
	border-right: 0px;
	border-left: 0.3px;
	border-top: 0.3px;
	border-bottom: 0.3px;
}

.up {
	background-image: url(../../IMAGES/ll_with_arrow_rotate.png);
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100% 200%;
	border-bottom: 0px;
	border-top: 0.3px;
	border-left: 0.3px;
	border-right: 0.3px;
}

.down {
	background-image: url(../../IMAGES/ll_with_arrow_rotate.png);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100% 200%;
	border-top: 0px;
	border-bottom: 0.3px;
	border-left: 0.3px;
	border-right: 0.3px;
}

.null {
	background-image: url(../../IMAGES/null_link.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 140% 120%;
}


@media only screen and (max-width: 600px) {
	.titleBar {
		height: 7.7%;
	}

	.titleBar img {
		width: 103px;
	}

	.titleBar nav {
		width: 65%;
	}

	.titleBar nav li {
		padding-right: 27px;
		font-size: 20px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
	.sllbox .inputBoxes>div {
		height: 36%;
		width: 22%;
	}
	.sllbox .linked-list-container>.row>.item>div
	{
		font-size: 15px;
	}
	.sllbox .linked-list-container>.row
	{
		height: 7%;
	}
}

@media only screen and (min-width: 600px) {
	.sllbox .inputBoxes>div {
		height: 45%;
		width: 20%;
	}
	.sllbox .linked-list-container>.row>.item>div
	{
		font-size: 20px;
	}
	.sllbox .linked-list-container>.row
	{
		height: 8%;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.sllbox .inputBoxes>div {
		height: 55%;
		width: 19%;
	}
	.sllbox .linked-list-container>.row>.item>div
	{
		font-size: 27px;
	}
	.sllbox .linked-list-container>.row
	{
		height: 9%;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.sllbox .inputBoxes>div {
		height: 60%;
		width: 18%;
	}
	.sllbox .linked-list-container>.row>.item>div
	{
		font-size: 30px;
	}
	.sllbox .linked-list-container>.row
	{
		height: 10%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.sllbox .inputBoxes>div {
		height: 70%;
		width: 18%;
	}
	.sllbox .linked-list-container>.row>.item>div
	{
		font-size: 30px;
	}
	.sllbox .linked-list-container>.row
	{
		height: 12.7%;
	}
}