* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Times New Roman', Times, serif;
}

:root {
	--link_color: aqua;
}

.container {
	height: 100%;
	width: 100%;
	background-color: rgb(214, 220, 255);
	position: fixed;
}

html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}

input::placeholder {
	color: black;
}

.sllbox {
	height: 80%;
	width: 100%;
	margin: 0;
}

.sllbox .inputBoxes {
	margin-top: -1.6px;
	display: flex;
	align-items: center;
	gap: 30px;
	justify-content: center;
	width: 100%;
	height: 13%;
	background-color: rgb(33, 46, 80);
}

.sllbox .inputBoxes>div {
	height: 70%;
	width: 18%;
	border: 1px solid black;
}

.sllbox .inputBoxes>div>input {
	height: 100%;
	width: 70%;
	float: left;
	outline: none;
	border: none;
	font-size: 20px;
	padding: 3px;
	text-indent: 5px;
}

.sllbox .inputBoxes>div>p {
	float: left;
	height: 100%;
	width: 30%;
	outline: none;
	background-color: maroon;
}

.sllbox .inputBoxes>div>p img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	mix-blend-mode: darken;
}

.sllbox .linked-list-container {
	width: 100%;
	height: 90%;
	background-color: white;
	padding: 12px 0px 10px 0px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	overflow-y: scroll;
}

.sllbox .linked-list-container .row {
	display: flex;
	align-items: center;
	flex-direction: row;
	padding: 0px;
	width: 100%;
	height: 23%;
}

.sllbox .linked-list-container .row:nth-child(even) {
	flex-direction: row-reverse;
}
.sllbox .linked-list-container .row > .item
{
	height: 80px;
	width: 16.61%;
	background-color: pink;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}
.sllbox .linked-list-container .row>.item>div
{
	height: 80%;
	width: 33%;
	/* background-color: lightgreen; */
	mix-blend-mode: darken;
	background-repeat: no-repeat;
	background-position: left;
	border: 1px solid black;
}
.sllbox .linked-list-container .row>.item >.left,
.sllbox .linked-list-container .row>.item >.right
{
	background-image: url(../../IMAGES/ll_with_arrow.png);
	background-size: 200% 100%;
	border-left: 0px;
	border-right: 0px;
}
.sllbox .linked-list-container .row>.item >.value
{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	border: 1.3px solid black;

}
.sllbox .linked-list-container .row>.item >.right
{
	background-position: right;
}
.sllbox .linked-list-container .row>.item >.null
{
	background-image: url(../../IMAGES/null_link.png);
	background-size: 100% 100%;
	border-left: 0px;
	border-right: 0px;
}

@media only screen and (max-width: 600px) {
	.titleBar {
		height: 7.7%;
	}

	.titleBar img {
		width: 103px;
	}

	.titleBar nav {
		width: 65%;
	}

	.titleBar nav li {
		padding-right: 27px;
		font-size: 20px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
	.sllbox .inputBoxes>div {
		height: 36%;
		width: 22%;
	}
}

@media only screen and (min-width: 600px) {
	.sllbox .inputBoxes>div {
		height: 45%;
		width: 20%;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.sllbox .inputBoxes>div {
		height: 55%;
		width: 19%;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.sllbox .inputBoxes>div {
		height: 60%;
		width: 18%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.sllbox .inputBoxes>div {
		height: 70%;
		width: 18%;
	}
}